/* Comportamento normal Desktop */

body {
    margin: 0px;
    padding: 0px;
}
.cabecalho {
    background-color: aqua;
    padding: 10px;
    color: black;
    text-align: center;
}

.conteudo {
    padding: 10px;
    color: black;
    text-align: justify;
}

/* Breakpoint para resoluções específicas (smartphones, tablets...) */

@media screen and (max-width: 600px) {
    /* Atributos dessa resolução */
    .cabecalho {
        background-color: red;
        display: none;
    }
    .conteudo {
        font-size: 120%;
    }
}

@media screen and (max-width: 1024px) and (min-width: 601px) {
    /* Atributos dessa resolução */
    .cabecalho {
        background-color: blue;
    }
    .conteudo {
        font-size: 150%;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
    .cabecalho {
        background-color: green;
    }
}
